/********************************************
* Custom CSS Styles for Basic Mockup Exercise
*
* Some CSS rules have been added for you below.
* Edit and add CSS rules as you see fit! :D
********************************************/


h1 {
	font-family: arial;
	color: #FFFFFF;
	text-align: center;
	animation-duration: 3s;
	animation-name: slidein;
}

@keyframes slidein {
	from {
		margin-left: 100%;
		width: 300%;
	}

	to {
		margin-left: 0%;
		width: 100%;
	}
}


.backgrn {
	background-image: url("img/star-trek-cat.jpg");
}



.flt-right{
	float:right;
}



.instructions {
	box-sizing: content-box;
	border: 5px;
}


.pull-right {
	float:right;
}

.pull-left {
	float:left;
	padding: 50px 50px;
}


.container {
	 margin: 0 auto;
	 width: 1170px;
 }

.container1 {
	background-color: #000000;
	padding: 5px;
 }




.clear {
	clear: both;
}






/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}